html{
    padding: 0;
    margin: 0;
}
/* reset css */

body{
    font-family: Roboto;
    background-image: url("./img/imageBG.jpg");
}

#calculator{
    width: 340px;
    height: 520px;
    background-color: rgba(177, 232, 236, 0.5);
    top: 24px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#results{
    height: 120px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#oldResults{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #808080;
}

#exportResults{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyBoard{
    height: 400px;
    margin: 0 10px 0 10px;
}

.btnSystem,
.btnNumber{
    width:70px;
    height:50px;
    margin: 15px 5px 15px 5px;
    float:left;
    border-radius: 15px;
    border-width: 0;
    font-weight:bold;
    font-size:16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 240, 240, 0.6);
}

.btnSystem:hover,
.btnNumber:hover{
    background: linear-gradient(to right, #d5fcfd, #f1fdff, #80dae8);
    cursor: pointer;
}

button:nth-child(19){
    width: 150px;
    height: 50px;
}